.admin-body-wrapper{
  background: #333;
}

.admin-body-wrapper:after{
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.admin-menu-bar{
  background: #333;
  padding: 15px;
  a{
    font-size: 14pt;
    margin: 15px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    &:hover{
      padding-left: 30px;
    }
    span{
      display: block;
      width: 16px;
      margin-right: 20px;
      float: left;
    }
  }
}

.admin-content{
  background: #fff;
  .flash-text{
    margin-top: 10px;
  }
  padding-bottom: 85px;
  h1{
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
  }
  .align-text-center{
    text-align: center;
  }
  .manage-users{
    td{
      height: 80px;
      line-height: 80px;
    }
  }
  .modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #1DA1F2;
    color: #fff;
    font-weight: bold;
  }
  .admin-edit-category{
    height: 235px;
  }
  .admin-manage-orders{
    .order-status-title{
      width: 125px;
    }
    .order-text{
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .order-rejected{
      @extend .order-text;
      background: brown;
    }
    .order-progress{
      @extend .order-text;
      background: orange;
    }
    .order-shipping{
      @extend .order-text;
      background: #5bc0de;
    }
    .order-delivered{
      @extend .order-text;
      background: #5cb85c;
    }
    td{
      line-height: 32px;
    }
  }
  .import-products{
    margin-bottom: 30px;
    td{
      border: none;
      border-radius: 0px !important;
    }
    .file-to-import{
      border: 1px solid #000;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    input[type="submit"]{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .manage-requests{
    .content-title{
      width: 420px;
    }
    .form-accept{
      float: left;
    }
    .form-reject{
      float: right;
    }
    .request-status{
      color: #fff;
      border-radius: 4px;
      padding: 3px;
    }
    .request-pending{
      @extend .request-status;
      background: blue;
    }
    .request-accepted{
      @extend .request-status;
      background: green;
    }
    .request-rejected{
      @extend .request-status;
      background: red;
    }
  }
}
