@import "bootstrap-sprockets";
@import "bootstrap";

// general
.clr{
  clear: both;
}

thead{
  background: #1DA1F2;
  color: #fff;
}

td[class="no-data"]{
  text-align: center;
}

// header
header{
  .modal{
    input{
      margin-bottom: 20px;
    }
    .modal-body{
      a[data-toggle="modal"]{
        width: 100%;
      }
      p{
        margin-bottom: 5px;
      }
      a[data-target="#myModalSignup"]{
        margin-bottom: 20px;
      }
    }
  }
  .navbar{
    margin-bottom: 0px;
    .navbar-form{
      input[type="text"]{
        width: 400px;
      }
    }
    a[data-toggle="modal"]:focus{
      outline: 0;
    }
  }
  .jumbotron{
    padding: 0px;
    img{
      width: 100%;
      height: 200px;
    }
  }
}

// homepage
.homepage{
  .homepage-content-right{
    .carousel{
      .carousel-inner{
        height: 400px;
      }
      img{
        width: 100%;
      }
    }
    .see-more-products{
      font-size: 14pt;
    }
    .tab-content{
      border: 1px solid #ddd;
      border-top: 0;
      .tab-pane{
        padding: 10px;
        .box{
          text-align: center;
          border: 1px solid #d5d5d5;
          margin-bottom: 15px;
          &:hover{
            background-color: #e5e5e5;
          }
          .box-img{
            border-bottom: 1px solid #d5d5d5;
            img{
              display: block;
              height: 170px;
              width: 100%;
            }
          }
          .box-title{
            margin-top: 10px;
            margin-bottom: 5px;
            color: #333;
            font-size: 18px;
          }
          .box-price{
            color: #d42b55;
            font-weight: bold;
          }
        }
      }
      .no-products{
        margin-left: 20px;
      }
    }
  }
}

// user: manage profile
.personal_profile{
  td{
    padding: 10px;
  }
  .item{
    font-weight: bold;
  }
}

// footer
footer{
  margin-top: 30px;
  .jumbotron{
    background: #333;
    color: #fff;
    margin-bottom: 0px;
  }
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  p{
    font-size: 11pt !important;
    margin-top: 15px;
  }
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: auto;
}

// admin: manage users
.is_admin{
  color: red;
  font-weight: bold;
}
