<div class="clr"></div>
<footer>
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-4">
        <%= t "fake_para" %>
      </div>
      <div class="col-md-8">
        <p><%= t "fake_para" %></p>
      </div>
    </div>
  </div>
</footer>
